body {
    font-family: sans-serif;
    background-color: #222;
    color: #ddd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #333;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: flex;  /* Enable flexbox for the form */
  flex-direction: column;  /* Stack elements vertically */
  align-items: center;  /* Center elements horizontally */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 3px;
    width: 100%;
}

button {
    background-color: #4CAF50;  /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.error {
    color: red;
    display: none;  /* Hide error message initially */
}

